section {
    width: 620px;
    height: 476px;
    margin-left: -310px;
    margin-top: -238px;
    position: absolute;
    top: 50%;
    left: -100%;
}

.overview section {
    float: left;
    position: relative;
    top: auto !important;
    left: auto !important;
    margin: 2% !important;
    -moz-transform: scale(0.2, 0.2);
    -moz-transform-origin: 0 0;
    -webkit-transform: scale(0.2, 0.2);
    -webkit-transform-origin: 0 0;
    -o-transform: scale(0.2, 0.2);
    -o-transform-origin: 0 0;
}

#conference-title, #feedback {
  background-image: url(background.png);
  background-position: center bottom, left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: White;

  a {
    color: White;
  }
}

img {
  text-align: center;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  margin-top: 2em;
}

li {
  margin-top: 1em;
}

li.axis-unimportant {
  color: Red;
}

li.axis-important {
  color: Green;
}

h2 {
  text-align: center;
}

em {
  color: Blue;
  font-style: italic;
}

/*
section.slide {
  background-image: url('background-light.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
*/

blockquote {
  vertical-align: center;
  text-align: center;
  font-size: 40px;
  quotes: '"' '"';

  &:before {
    content: open-quote;
  }

  &:after {
    content: close-quote;
  }
}

table.visible {
  width: 100%;
  border: 2px solid black;

  td, th {
    padding: 3px;
    border: 1px solid #666;
  }
}

svg {
/*  max-width: 100%;*/
}

blockquote {
  line-height: 1.5em;
}